# Created by .ignore support plugin (hsz.mobi)
.idea/inspectionProfiles/
.idea/vcs.xml
.idea/workspace.xml
__pycache__/
g/
/data/embedded_images.pkl
/data/captions_val2017.json
/data/train/
/data/annotations/
